.testimonials-container {
  position: relative;
  width: 100%;

  /* max-width: 1400px; */
  overflow: hidden;

  .testimonials-header {
    margin-bottom: 3rem;
    text-align: center;

    h2 {
      margin-bottom: 0.5rem;
      font-weight: 700;
      font-size: 2.5rem;
      color: #fff;
    }

    p {
      font-size: 1.125rem;
      color: #94a3b8;
    }
  }

  .testimonials-wrapper {
    padding: 2rem 0;
    overflow: hidden;

    .testimonials-track {
      display: flex;
      gap: 2rem;
      animation: scroll 30s linear infinite;
      width: fit-content;

      &:hover {
        animation-play-state: paused;
      }

      .testimonial-card {
        display: flex;
        flex-direction: column;
        min-width: 500px;
        max-width: 500px;
        padding: 2.5rem;
        border: 1px solid rgb(148 163 184 / 10%);
        border-radius: 1rem;
        background: rgb(32 201 151);
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease,
          border-color 0.3s ease;
        backdrop-filter: blur(10px);
        gap: 2rem;

        &:hover {
          transform: translateY(-5px);

          /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); */
          border-color: rgb(148 163 184 / 20%);
        }

        .company-header {
          display: flex;
          align-items: center;
          gap: 0.75rem;

          .company-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 0.5rem;
            font-weight: 700;
            font-size: 1.25rem;
            color: #0f172a;
            background: #fff;
          }

          .company-name {
            font-weight: 700;
            font-size: 1.5rem;
            color: #fff;
          }
        }

        .testimonial-text {
          flex-grow: 1;
          font-size: 1.0625rem;
          line-height: 1.7;
          color: #e2e8f0;
        }

        .author-info {
          display: flex;
          align-items: center;
          gap: 1rem;

          .author-avatar {
            width: 56px;
            height: 56px;
            border: 2px solid rgb(148 163 184 / 20%);
            border-radius: 50%;
            object-fit: cover;
          }

          .author-details {
            h4 {
              margin-bottom: 0.25rem;
              font-weight: 600;
              font-size: 1.0625rem;
              color: #fff;
            }

            p {
              font-size: 0.9375rem;
              color: #94a3b8;
            }
          }
        }
      }
    }
  }

  @media (width <= 768px) {
    .testimonial-card {
      min-width: 350px;
      max-width: 350px;
      padding: 2rem;
    }

    .testimonials-header {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

// Keyframes
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
